.quote-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../Images/bg4.jpg);
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.quote-background h1 {
  color: #8e6d4d;
  font-family: "Playfair Display SC", serif;
  font-size: 80px;
  font-weight: 700;
  margin-bottom: 60px;
}
.quote-background p {
  font-size: 25px;
  font-family: "Merriweather", serif;
  color: #f2e6d4;
  min-height: 60px;
}

.quote-background button {
  padding: 20px 40px;
  font-size: 20px;
  color: #f2e6d4;
  background-color: #6b4f36;
  border-color: #6b4f36;
  transition: all 0.4s;
}
.quote-background button:hover {
  background-color: #8a6749;
  color: #fff;
}
